<div class="container-fluid" style="margin-top:8px; margin-bottom: 8px">
    <button style="margin-left:16px" class="btn btn-dark" data-toggle="collapse" data-target="#panel">New...</button>
    <div id="panel" class="collapse col-4" style="margin-top:8px;margin-bottom: 8px">
        <div class="card card-body">
            <h4>New Daily</h4>
            <label for="nameInput">Name of daily:</label>
            <input id="nameInput" type="text" [(ngModel)]="nameInput" />
            <label for="timeLimitInput">Time Limit: (minutes)</label>
            <input id="timeLimitInput" type="number" [(ngModel)]="timeLimitInput" />
            <button style="margin-top:8px" class="btn btn-secondary" (click)="onSave()" data-toggle="collapse" data-target="#panel">Save</button>
        </div>
    </div>
</div>