<div class="container-fluid" style="margin-top:8px; margin-bottom: 8px">
    <button style="margin-left:16px" class="btn btn-dark" data-toggle="collapse" data-target="#panel">New...</button>
    <div id="panel" class="collapse col-4" style="margin-top:8px;margin-bottom: 8px">
      <form #form="ngForm" (ngSubmit)="onSave(form)">
        <div class="card card-body form-group">
            <h4>New Daily</h4>
            <label for="nameInput">Name of daily:</label>
            <input
              class="form-control"
              ngModel
              required
              minlength="3"
              #nameInput="ngModel"
              id="nameInput"
              name="nameInput"
              type="text"
              />
            <div class="alert alert-danger" *ngIf="nameInput.touched && !nameInput.valid" >This field is required.</div>
            <div class="alert alert-danger" *ngIf="nameInput.dirty && nameInput?.errors?.minlength" >Must be at least 3 characters.</div>

            <label for="timeLimitInput">Time Limit: (minutes)</label>
            <input
              class="form-control"
              ngModel
              required
              timeRange
              min="0"
              max="720"
              #timeLimitInput="ngModel"
              (change)="log(timeLimitInput)"
              id="timeLimitInput"
              name="timeLimitInput"
              type="number"
              />
              <div class="alert alert-danger" *ngIf="timeLimitInput.touched && !timeLimitInput.valid" >This field is required.</div>
              <div class="alert alert-danger" *ngIf="timeLimitInput.dirty && timeLimitInput?.errors?.OutOfRange" >Must be between 1 and 720.</div>

            <button ngSubmit style="margin-top:8px" class="btn btn-secondary" data-toggle="collapse" data-target="#panel">Save</button>
          </div>
        </form>
    </div>
</div>
