<div class="card card-body col-6 flex-row bg-dark" style="margin:4px; margin-left:15px">
    <div class="col-11 text-light">
        <h3>{{currentDaily.name}}</h3>
        <span style="font-size: 12px">{{currentDaily.date | date: 'medium' }}</span>
        <hr>
        <h6>Progress:</h6>
        <div class="progress bg-dark" style="border:1px solid gray">
            <div 
            [ngClass]="{'progress-bar-animated': isActive}"
            class="progress-bar-striped bg-info"
            role="progressbar" 
            [ngStyle]="{'width': timePercentage()+'%', 'text-align': 'center'}">
            {{timePercentage().toFixed(0)}}%        
        </div>
        </div>
    </div>
    <div class="col-1 flex-column">
        <a class="close pull-right text-light" (click)="onDelete()">x</a>
        <div style="height:100px;"></div>
        <a (click)="toggleActive()" class="pull-right"><img [src]="imgURL" style="width:45px; height:45px;"></a>
    </div>
</div>